.card-company__header {
    border-bottom: 1px solid black;
}

.card-company__firstblock {
    border-bottom: 1px solid black;
}

.card-company__subblock {
    margin: 21px 0px;
}

.block-title {
    display: flex;
    justify-content: space-between;
}

.block-icon {
    display: flex;
    margin: 11px 0px;
}

.card-subtitle__status {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #FF8991;
}

.card-subtitle__contract {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.card-company__secondblock {
    border-bottom: 1px solid black;
}

.icon-signature {
    margin-right: 10px;
}