.card-decision__header {
    border-bottom: 1px solid black;
    max-height: 136px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-textarea {
    background: #3E4459;
    border-radius: 5px;
    max-width: 466px;
    max-height: 56px;
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.card-decision__body {
    max-height: 528px;
    height: 100%;
}

.card-decision__element {
    margin: 20px 0px;
}

.card-select {
    max-width: 303px;
    max-height: 32px;
    background: #3E4459;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #C4C4C4;
    margin-top: 6px;
}


.card-first-input {
    background: #3E4459;
    border-radius: 5px;
    max-width: 465px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #C4C4C4;
    margin-top: 6px;
}

.card-second-input {
    max-width: 194px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    background: #3E4459;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #C4C4C4;
    margin-top: 6px;
}

.button-write {
    background: #23273A;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #43E8FF;
    max-width: 138px;
    max-height: 36px;
    width: 100%;
    height: 100%;
}

.card-decision__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}