.app-wrapper {
    max-width: 1440px;
    max-height: 995px;
    display:flex;
    background: #4D5474;
}
.container {
    display: flex;
    max-width: 1200px;
    max-height: 1000px;
    flex-direction: column;
    padding: 50px 40px 60px;
}

